/*for "CSS Table" project*/
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Commissioner:wght@100..900&family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

table{
    border: 1px solid grey;
    width: 688px;
}

th,td{
    border: 1px solid grey;
}