/*for "CSS Table" project*/
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Commissioner:wght@100..900&family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.table {
    table-layout: auto;
    width: 100%;
    max-width: 688px;
    border-collapse: collapse;
    text-align: left;
    margin: auto;
}

.table th, .table td {
    border: 1px solid #D0D0D0;
}

.table th {
    background-color: #3598DB;
    color: #FFF;
    padding: 10px 0 10px 8px;
}

tr:nth-child(even) {
    background-color: #EEE;
}

.table td {
    padding: 13px 8px 10px;
}

.first_name_column {
    width: 140px;
}

.twitter_column {
    width: 160px;
}