/*for "CSS Table" project*/
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Commissioner:wght@100..900&family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
}

table{
    border: 1px solid grey;
    width: 688px;
    border-collapse: collapse;
    position:absolute;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

th,td{
    border: 1px solid grey;
}

th {
    width: 20%;
    background-color: #3598DB;
    color:white;
    padding: 10px 0;
}

td {
    padding: 14px 0 0 0;
}

td:first-child {
    /*width: 30%;*/
}

