@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Commissioner:wght@100..900&family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    background-color: #FEEED5;
    color: #4d4d4d;
}

.upper-form{
    background-color: #fff;
}

.inner_container{
    max-width: 700px;
    margin: 0 auto;
}

.form_title{
    font-size: 27px;
    padding: 23px 0 6px;
}

.form{
    max-width: 742px;
    margin: 0 auto;
}

.container{
    max-width: 700px;
    margin: 0 auto;
    background-color: #FEEED5;
}



.form-label{
    display: block;
    margin: 17px 0 8px;
    font-weight: bold;
    color: #4d4d4d;
}

.form_input{
    padding: 10px 0 9px 12px;
    width: 100%;
    border: none;
    border-radius: 1px;
}

.form_input::placeholder{
    font-size: 15px;
    font-family: Helvetica, sans-serif;
}

textarea.form_input{
    min-height: 112px;
}

.custom-paragraph{
    margin: 16px 0 13px;
}

.form_button{
    justify-content: center;
    align-items: center;
    background-color: #388DB3;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    color: #FFF;
    border: none;
    font-weight: 700;
    padding: 8px 12px 8px;
    float: right;
}