@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Commissioner:wght@100..900&family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-size: 11px;
    font-family: Helvetica, sans-serif;
    background-color: #FEEED5;
    color: #4d4d4d;
}

.form{
    max-width: 594px;
    margin: 0 auto;
}

.form_title{
    font-size: 23px;
    padding: 18px 0 5px 16px;
    background-color: white;
    font-weight: normal;
}

.form-label{
    display: block;
    margin: 15px 0 6px 16px;
    font-weight: bold;
}

.form_input{
    height: 27px;
    width: 560px;
    border: none;
    border-radius: 1px;
    margin: 0 0 0 16px;
    padding: 0 0 0 9px;
}

.form_input::placeholder{
    font-size: 11px;
    font-family: Helvetica, sans-serif;
}

textarea.form_input{
    min-height: 161px;
}

.custom-paragraph{
    margin: 15px 0 6px 16px;
}

.form_button{
    justify-content: center;
    align-items: center;
    background-color: #388DB3;
    font-size: 11px;
    font-family: Helvetica, sans-serif;
    color: #FFF;
    border: none;
    font-weight: 700;
    padding: 10px 0 0 10px;
    margin: 0 0 0 16px;
}