* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    color: #676565;
}

p {
    text-indent: 20px;
    line-height: 1.5;
    margin: 0.6em 0px;
    text-align: justify;
}

li {
    font-size: 1.1em;
}

.container {
    background-color: #feeed6;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1.3em;
    font-family: Helvetica, sans-serif;
}

h1.article-title {
    font-size: 1.7em;
    margin: 0 0 0.4em;
}

span.terms-title-blue {
    color: #378db2;
    line-height: 1.8em;
    font-weight: bold;
}


span.line {
    text-decoration: line-through;
}