* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #feeed6;
}

.container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}