* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #feeed6;
    color: #676565;
}

p{
    text-indent: 20px;
    line-height: 1.5;
}

.container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

h1.article-title {
    font-size: 30px;
}

span.terms-title {
    color: #378db2;
    line-height: 1.5;
}

span.line {
    text-decoration: line-through;
}