* {
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    color: #676565;
}

.paragraph {
    text-indent: 20px;
    line-height: 1.5;
    margin: 1px 0 7px;
    text-align: justify;
}

.container {
    background-color: #feeed6;
    width: 100%;
    max-width: 596px;
    margin: 0 auto;
    padding: 0 11px;
}

.title {
    font-size: 22px;
    line-height: 25px;
    padding: 7px 0 6px;
}

.terms-title {
    font-size: 1.09em;
}

.terms-title-blue {
    color: #378db2;
    line-height: 1.8em;
    font-weight: bold;
}

.line {
    text-decoration: line-through;
}