* {
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    color: #676565;
}

.container {
    background-color: #feeed6;
    width: 100%;
    max-width: 747px;
    margin: 0 auto;
    padding: 0 14px;
}

.paragraph {
    font-size: 14px;
    text-indent: 20px;
    line-height: 1.55;
    margin: 1px 0 11px;
    text-align: justify;
}

.title {
    font-size: 27px;
    line-height: 31px;
    padding: 15px 0 8px;
}

.terms-title {
    font-size: 16px;
}

.terms-title-blue {
    color: #378db2;
    line-height: 1.8em;
    font-weight: bold;
}

.line {
    text-decoration: line-through;
}